@import '../mixins.scss';
@import '../variables.scss';

@include respond(phone) {
  .categoryCard {
    background-repeat: none;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 33.5rem;
    height: 14rem;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: $margin-irregular;

      span {
        background: $color-black--200-op;
        font-size: $font-small;
        font-weight: 600;
        color: $color-white;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }

      button {
        outline: none;
        border: none;
        background: $color-black--200-op;
        @include flexCenter;
        color: $color-white;
        border-radius: 0.5rem;
        padding: 0.5rem;
        transition: all 0.2s;
        cursor: pointer;

        &:active {
          @include clickAnimation;
        }
      }
    }

    .bottom {
      margin: $margin-horizontal--2;
      font-weight: 700;

      h3 {
        margin: $margin-horizontal--1;
        font-size: $font-heading--300;
        color: $color-white;
        margin-bottom: 1rem;
      }

      span {
        background: $color-black--200-op;
        padding: $padding-horizontal--1;
        font-size: $font-small;
        color: $color-grey;
        display: block;
        text-align: center;
      }
    }
  }
}

@include respond(tablet) {
  .recipeContainer {
    width: 55.5rem;
  }
}
