@import '../mixins.scss';
@import '../variables.scss';

@include respond(mobileS) {
  .header {
    @include appWrapper(mobileS);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: $padding-vertical--2;

    h1 {
      @include logo;
      font-size: 4rem;
      align-self: center;
    }

    button {
      @include flexCenter;
      background: $color-black--100;
      border: $border--2;
      outline: none;

      border-radius: 1rem;
      padding: $padding-both--1;
      transition: all 0.2s;
      cursor: pointer;

      &:active {
        @include clickAnimation;
        border-color: $color-orange;
      }
    }

    .backPageBtn {
      color: $color-black--500;
    }

    .changeThemeBtn {
    }
  }

  .user {
    width: 4.6rem;
    height: 4.6rem;
    transition: all 0.2s;

    &:active {
      @include clickAnimation;
    }

    img {
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }
}
