@import '../mixins.scss';
@import '../variables.scss';

@include respond(mobileS) {
  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: relative;
    margin: $margin-vertical--2;

    label {
      color: $color-black--500;
    }

    .emailContainer {
      position: relative;

      label {
        position: absolute;
        top: 28%;
        left: 5%;
      }
    }

    .passwordContainer {
      position: relative;

      label {
        position: absolute;
        top: 28%;
        left: 5%;
      }
    }

    input {
      font-family: 'Lexend', sans-serif;
      font-size: $font-regular;
      font-weight: 400;
      color: $color-grey;
      padding: 2rem 2rem 2rem 5rem;

      outline: none;
      border: $border--2;
      border-radius: 1rem;
      background: $color-black;

      &:focus {
        border-color: $color-orange;
      }

      &::placeholder {
        font-family: 'Lexend', sans-serif;
        font-size: $font-regular;
        font-weight: 400;
        color: $color-black--500;
      }
    }

    span {
      display: block;
      font-size: $font-small;

      a:link,
      a:visited {
        color: $color-grey;
      }
    }

    button {
      @include flexCenter;
      gap: 1rem;

      font-family: 'Lexend', sans-serif;
      font-size: $font-larger;
      font-weight: 600;
      color: $color-grey;
      padding: 2rem;

      outline: none;
      border: $border--2;
      border-radius: 1rem;
      background: $color-orange;
      transition: all 0.2s;

      &:active {
        transform: translateX(1rem);
      }
    }
  }
}
