@import '../mixins.scss';
@import '../variables.scss';

@include respond(mobileS) {
  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: $margin-vertical--2;
    padding-bottom: 8rem;

    label {
      color: $color-black--500;
      cursor: pointer;
    }

    .nameContainer {
      position: relative;

      label {
        position: absolute;
        top: 28%;
        left: 5%;
      }
    }

    .emailContainer {
      position: relative;

      label {
        position: absolute;
        top: 28%;
        left: 5%;
      }
    }

    .passwordContainer {
      position: relative;

      label {
        position: absolute;
        top: 28%;
        left: 5%;
      }
    }

    .genderContainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      label {
        display: flex;
        align-items: center;
        gap: 1rem;

        span {
          font-size: $font-larger;
          color: $color-black--500;
        }
      }

      input {
        display: none;
      }

      .inpMale:checked + label {
        color: $color-blue--100;
      }

      .inpFemale:checked + label {
        color: $color-pink;
      }
    }

    input {
      font-family: 'Lexend', sans-serif;
      font-size: $font-regular;
      font-weight: 400;
      color: $color-grey;
      padding: 2rem 2rem 2rem 5rem;

      outline: none;
      border: $border--2;
      border-radius: 1rem;
      background: $color-black;
      width: 100%;

      &:focus {
        border-color: $color-orange;
      }

      &::placeholder {
        font-family: 'Lexend', sans-serif;
        font-size: $font-regular;
        font-weight: 400;
        color: $color-black--500;
      }
    }

    .terms {
      display: block;
      font-size: $font-tiny;
      color: $color-grey;
      text-align: center;
      text-transform: uppercase;
    }

    button {
      @include flexCenter;
      gap: 1rem;

      font-family: 'Lexend', sans-serif;
      font-size: $font-larger;
      font-weight: 600;
      color: $color-grey;
      padding: 2rem;

      outline: none;
      border: $border--2;
      border-radius: 1rem;
      background: $color-orange;
      transition: all 0.2s;
      cursor: pointer;

      &:active {
        transform: translateX(1rem);
      }
    }
  }
}
