@import '../mixins.scss';
@import '../variables.scss';

@include respond(mobileS) {
  .upload {
    @include appWrapper(mobileS);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .uploadColumn {
      h3 {
        @include heading(tertiary);
        color: $color-orange;
        margin: $margin-vertical--2;
      }

      label {
        color: $color-grey;
        font-size: $font-regular;
        font-weight: 600;
      }

      input {
        padding: $padding-both--2;
        margin: $margin-vertical--1;
      }
    }
  }
}
