@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

@include respond(mobileS) {
  .landing {
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    .blob {
      height: 40rem;
      z-index: -1;

      position: absolute;
      top: 15%;
      left: 20%;

      @include respond(mobileL) {
        left: 30%;
      }

      @include respond(tablet) {
        height: 60rem;
        top: 10%;
        left: 40%;
      }
    }

    .landingContent {
      @include appWrapper(mobileS);

      @include respond(mobileM) {
        @include appWrapper(mobileM);
      }

      @include respond(mobileL) {
        @include appWrapper(mobileL);
      }

      @include respond(tablet) {
        @include appWrapper(tablet);
      }

      main {
        display: flex;
        flex-direction: column;
        padding-bottom: 8rem;

        h1 {
          @include heading(primary);
          font-size: 4rem;
          margin-bottom: 4rem;
        }

        h2 {
          @include heading(secondary);
          font-size: 3rem;
          margin-bottom: 4rem;
        }

        h3 {
          @include heading(tertiary);
          margin-bottom: 4rem;
        }

        a {
          margin-top: 4rem;
        }
      }
    }
  }
}
