@import '../mixins.scss';
@import '../variables.scss';

@include respond(mobileS) {
  .home {
    @include appWrapper(mobileS);
    margin-bottom: 6.6rem;

    main {
      padding: 2rem 0;
      

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;

      overflow: hidden;

      h3 {
        color: $color-grey;
        font-size: $font-heading--300;
        font-weight: 700;

        align-self: flex-start;
      }

      section {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h3 {
          color: $color-grey;
          font-size: $font-heading--300;
          font-weight: 700;
          
        }
      }

      .findRecipesCard {
        width: 30rem;
        @include respond(tablet) {
          width: 49rem;
        }

        height: 15rem;
        background: $color-white--100;

        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        border-radius: 2rem;
        

        .iconContainer {
          background: #111;
          width: 30%;
          height: 10rem;
          border-radius: 2rem;
          padding: 2rem;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .textContainer {
          width: 70%;
          font-size: $font-regular;
          font-weight: 700;
          line-height: 1.4;

          p {
            color: $color-black;
          }

          button {
            outline: none;
            border: none;
            background: none;

            font-family: 'Lexend', sans-serif;
            font-size: $font-regular;
            font-weight: 700;
            color: $color-orange;
            cursor: pointer;
            margin-top: 1rem;

            display: flex;
            align-items: center;
            gap: 0.5rem;
            transition: all 0.3s;

            &:active {
              transform: translateX(2rem);
            }
          }
        }
      }
    }
  } 
}

@include respond(tablet) {
  .home {
    @include appWrapper(tablet);
    .user {
      width: 8rem;
      height: 8rem;
    }
    .findRecipesCard {
      width: 50.5rem;
    }
  }

  @include respond(laptopL) {
    .home {
      @include appWrapper(laptopL);
    }
  }
}
