@import '../mixins.scss';
@import '../variables.scss';

@include respond(mobileS) {
  .landing {
    min-height: 100vh;
    background-position: center;
    background-repeat: none;
    background-size: cover;

    overflow: hidden;

    .landingContent {
      @include appWrapper(mobileS);
      position: relative;

      .blob {
        height: 40rem;
        z-index: -1;

        position: absolute;
        top: 15%;
        left: 20%;
      }

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $padding-vertical--2;
        margin-bottom: 6rem;

        div {
          display: flex;

          align-items: center;

          img {
            height: calc(86px / 2);
          }
        }

        a {
          button {
            @include flexCenter;
            gap: 0.5rem;
            background: $color-green;
            outline: none;
            border: none;
            border-radius: 2rem;
            padding: $padding-regular;

            font-size: $font-regular;
            font-weight: 400;
            color: $color-white--100;
            transition: all 0.2s;
            cursor: pointer;
            margin-top: 1rem;

            &:active {
              border-color: $color-orange;
              transform: translateX(1rem);
            }
          }
        }
      }

      main {
        display: flex;
        flex-direction: column;
        // gap: 4rem;
        padding-bottom: 8rem;

        h2 {
          @include heading(secondary);
          font-size: 4rem;
          font-weight: 700;
          // text-transform: capitalize;
          margin-bottom: 4rem;
        }

        h3 {
          @include heading(tertiary);
          font-size: 3rem;
          font-weight: 700;
          color: $color-orange;
          text-transform: capitalize;
          margin-bottom: 4rem;
        }

        h4 {
          @include heading(tertiary);
          font-size: $font-regular;
          font-weight: 400;
          margin-bottom: 4rem;
        }

        a {
          margin-top: 4rem;

          button {
            width: 100%;
            outline: none;
            background: $color-orange;
            color: $color-white--100;
            padding: $padding-both--2;
            @include flexCenter;
            gap: 0.5rem;
            border: $border--2;
            border-radius: 2rem;
            font-size: $font-larger;
            transition: all 0.2s;
            cursor: pointer;

            &:active {
              transform: translateX(1rem);
            }
          }
        }
      }
    }
  }
}
