.recipe {
  main {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .tagMsg {
      background: orange;
      border: 2px solid grey;
      font-size: 1.1rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      width: fit-content;
    }

    h2 {
      text-transform: capitalize;
    }

    div {
      width: 100%;
      height: 18rem;
      border-radius: 2rem;

      position: relative;

      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      button {
        background: #555;
        color: #666;
        padding: 0.5rem;
        border-radius: 1rem;

        position: absolute;
        bottom: -10%;
        right: 10%;

        transition: all 0.2s;
        cursor: pointer;
      }
    }

    span {
      color: grey;
      font-size: 1.4rem;

      strong {
        color: orange;
      }
    }
  }

  section {
    color: grey;
    margin-bottom: 7rem;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 2rem 0;

      h3 {
        text-transform: capitalize;
      }

      div {
        background: blue;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 1rem;

        gap: 1rem;

        span {
          font-size: 1.1rem;
          font-weight: 600;
        }

        button {
          outline: none;
          border: 1px solid transparent;
          background: blueviolet;
          color: white;
          border-radius: 0.5rem;
          padding: 0.5rem;
          transition: all 0.2s;
          cursor: pointer;

          &:active {
            border-color: white;
          }
        }
      }
    }

    .ingredients {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 0;

        li {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;

          span {
            width: 70%;
            padding-right: 1rem;
          }

          strong {
            width: 30%;
            text-align: end;
          }
        }
      }

      button {
        outline: none;

        gap: 1rem;
        padding: 1rem 2rem;
        color: grey;
        border-radius: 1rem;
        border: 2px solid grey;
        background: black;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;
        transition: all 0.2s;
        margin: 0 auto;

        &:active {
          border-color: orange;
          transform: translateX(2rem);
        }

        div {
          background: #222;
          padding: 0.5rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
}
