.Results {
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

    h3 {
      text-transform: capitalize;

      strong {
        color: orange;
      }
    }

    span {
      font-size: 1.4rem;
      color: #555;
      text-transform: capitalize;
    }
  }
}
