@import '../mixins.scss';
@import '../variables.scss';

@include respond(phone) {
  .search {
    @include appWrapperPhone;
    min-height: 100vh;

    .buttonContainer {
      padding: 2rem;

      button {
        background: $color-white;
        outline: none;
        border: none;

        @include flexCenter;

        padding: 1rem;
        border-radius: 1rem;
        color: $color-black--200;

        cursor: pointer;
        transition: all 0.2s;

        &:active {
          @include clickAnimation;
        }
      }
    }

    header {
      padding: 0 2rem;
      margin: 2rem 0;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      position: relative;

      h1 {
        font-size: $font-heading--200;
        font-weight: 900;
        color: $color-black--200;
      }

      span {
        display: block;
        font-size: $font-small;
        font-weight: 600;
        color: $color-grey;
      }

      .inputWrapper {
        min-width: 28rem;
        // max-width: 42.5rem;
        position: relative;
      }

      input {
        width: 100%;
        font-family: 'Lexend', sans-serif;
        font-size: $font-regular;
        font-weight: 600;
        color: $color-black--200;

        background: $color-white;
        border: none;
        outline: none;

        padding: 2rem 5rem 2rem 1rem;
        border-radius: 1rem;

        &::placeholder {
          font-size: $font-tiny;
          font-weight: 600;
          color: $color-grey;
        }
      }

      button {
        @include flexCenter;

        outline: none;
        border: none;
        background: $color-blue;
        color: $color-white;
        border-radius: 1rem;
        padding: 0.5rem;
        cursor: pointer;

        position: absolute;
        bottom: 22%;
        right: 2%;
        transition: all 0.2s;

        &:active {
          @include clickAnimation;
        }
      }
    }
  }

  .btnFindRecipes {
    display: flex;
    justify-content: center;
    position: relative;

    button {
      @include flexCenter;

      font-family: 'Lexend', sans-serif;
      font-size: $font-small;
      font-weight: 600;

      background-color: $color-black;
      color: $color-white;
      outline: none;
      border: none;

      &:active {
        transform: translateX(2rem);
      }
      transition: all 0.3s;

      border-radius: 1.5rem;
      padding: 1.7rem 3rem;
      cursor: pointer;
      gap: 2.5rem;
    }
  }
}

@include respond(tablet) {
  .search {
    @include appWrapperTablet;
  }
}

@include respond(desktop) {
  .search {
    @include appWrapperDesktop;
  }
}
