@import '../mixins.scss';
@import '../variables.scss';
@import '../keyframes.scss';

@include respond(mobileS) {
  .login {
    @include appWrapper(mobileS);

    .logo {
      display: flex;
      align-items: center;
      padding: $padding-vertical--2;
      margin-bottom: 4rem;

      h1 {
        @include logo;
        font-size: 6rem;
      }
    }

    .directions {
      margin: $margin-vertical--2;

      h1 {
        @include heading(primary);
        padding: $padding-vertical--2;
      }

      span {
        display: block;
        font-size: $font-small;
        color: $color-grey;
        line-height: 1.5;

        a {
          font-size: $font-small;
          color: $color-orange;
          font-weight: 600;

          display: flex;
          align-items: center;
          gap: 0.5rem;
          width: fit-content;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: $margin-vertical--2;

      label {
        color: $color-black--500;
      }

      .nameContainer {
        position: relative;

        label {
          position: absolute;
          top: 28%;
          left: 5%;
        }
      }

      .emailContainer {
        position: relative;

        label {
          position: absolute;
          top: 28%;
          left: 5%;
        }
      }

      .passwordContainer {
        position: relative;

        label {
          position: absolute;
          top: 28%;
          left: 5%;
        }
      }

      .genderContainer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // gap: 8rem;

        label {
          font-size: 2.6rem;
          display: flex;
          align-items: center;

          gap: 1rem;
          

          span {
            font-size: $font-larger;
            color: $color-black--500;
          }
        }

        input {
          display: none;
        }

        .inpMale:checked + label {
color: #0040ff;
        }

        .inpFemale:checked + label {
          
            color: #f8b9d4;
          
        }
      }

      input {
        font-family: 'Lexend', sans-serif;
        font-size: $font-regular;
        font-weight: 400;
        color: $color-grey;
        padding: 2rem 2rem 2rem 5rem;

        outline: none;
        border: $border--2;
        border-radius: 1rem;
        background: $color-black;

        width: 100%;

        &:focus {
          border-color: $color-orange;
        }

        &::placeholder {
          font-family: 'Lexend', sans-serif;
          font-size: $font-regular;
          font-weight: 400;
          color: $color-black--500;
        }
      } 
  
      .terms {
        display: block;
        font-size: $font-tiny;
        color: $color-grey;
        text-align: center;
        text-transform: uppercase
      }
 
      button {
        @include flexCenter;
        gap: 1rem;

        font-family: 'Lexend', sans-serif;
        font-size: $font-larger;
        font-weight: 600;
        color: $color-grey;
        padding: 2rem;

        outline: none;
        border: $border--2;
        border-radius: 1rem;
        background: $color-orange;
        transition: all 0.2s;

        &:active {
          transform: translateX(1rem);
        }
      }
    }
  }
}
