@import '../mixins.scss';
@import '../variables.scss';

@include respond(mobileS) {
  .signUp {
    @include appWrapper(mobileS);

    .logo {
      display: flex;
      align-items: center;
      padding: $padding-vertical--2;
      margin-bottom: 4rem;

      h1 {
        font-size: 6rem;
      }
    }

    .directions {
      margin: $margin-vertical--2;

      h1 {
        @include heading(primary);
        padding: $padding-vertical--2;
      }

      span {
        display: block;
        font-size: $font-small;
        color: $color-grey;
        line-height: 1.5;

        a {
          font-size: $font-small;
          color: $color-orange;
          font-weight: 600;

          display: flex;
          align-items: center;
          gap: 0.5rem;
          width: fit-content;
        }
      }

      .emailError {
        font-size: $font-tiny;
        color: $color-red;
        margin: $margin-vertical--1;
        text-align: center;
      }
    }
  }
}
