@import './variables.scss';

@font-face {
  font-family: 'Lexend';
  src: url('../fonts/Lexend-Light.ttf'), url('../fonts/Lexend-Regular.ttf'),
    url('../fonts/Lexend-SemiBold.ttf'), url('../fonts/Lexend-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: $color-black;
  font-family: 'Lexend', sans-serif;
  font-size: $font-regular;
}

a {
  text-decoration: none;
}
