@mixin respond($breakpoint) {
  @if $breakpoint == mobileS {
    @media screen and (min-width: 320px) {
      @content;
    }
  }

  @if $breakpoint == mobileM {
    @media screen and (min-width: 375px) {
      @content;
    }
  }

  @if $breakpoint == mobileL {
    @media screen and (min-width: 425px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint == laptopL {
    @media screen and (min-width: 1440px) {
      @content;
    }
  }
}

@mixin appWrapper($breakpoint) {
  @if $breakpoint == mobileS {
    max-width: 300px;
    margin: 0 auto;
  }

  @if $breakpoint == mobileM {
    max-width: 335px;
    margin: 0 auto;
  }

  @if $breakpoint == mobileL {
    max-width: 385px;
    margin: 0 auto;
  }

  @if $breakpoint == tablet {
    max-width: 568px;
    margin: 0 auto;
  }

  @if $breakpoint == laptop {
    max-width: 624px;
    margin: 0 auto;
  }

  @if $breakpoint == laptopL {
    max-width: 1040px;
    margin: 0 auto;
  }
}

@mixin clickAnimation {
  transform: translateY(0.5rem) scale(0.9);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin heading($size) {
  @if $size == primary {
    font-size: $font-heading--100;
    font-weight: 700;
    color: $color-grey;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  @if $size == secondary {
    font-size: $font-heading--200;
    font-weight: 700;
    color: $color-grey;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  @if $size == tertiary {
    font-size: $font-heading--300;
    font-weight: 700;
    color: $color-grey;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@mixin buttonStyles {
  background: $color-white--100;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.2s;
  cursor: pointer;
}

@mixin logo {
  font-size: $font-heading--200;
  font-weight: 700;
  color: $color-orange;
  letter-spacing: 1px;
  text-transform: capitalize;
}
