@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media screen and (min-width: 320px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media screen and (min-width: 700px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media screen and (min-width: 960px) {
      @content;
    }
  }
}

@mixin appWrapperPhone {
  max-width: 700px;
  margin: 0 auto;
}

@mixin appWrapperTablet {
  max-width: 960px;
  margin: 0 auto;
}
@mixin appWrapperDesktop {
  // max-width: 1280px;
  margin: 0 auto;
}


@mixin clickAnimation {
  transform: translateY(0.5rem) scale(0.9);
}

@mixin shadow {
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}


