//***************************************
//  COLOR
//***************************************
$color-white: #fff;
$color-white--100: #ecedf1;

$color-grey: #bfbabf;
$color-orange: #da521d;
$color-brown: #442f24;
$color-blue: #50a9b0;

$color-black: #000;
$color-black--100: #111;
$color-black--200: #222;
$color-black--200-op: rgba(0, 0, 0, 0.6);
$color-black--300: #333;
$color-black--400: #444;
$color-black--500: #555;

//***************************************
//  FONT SIZE
//***************************************
$font-tiny: 1.2rem;
$font-small: 1.4rem;
$font-regular: 1.6rem;
$font-larger: 1.8rem;

$font-heading--100: 3rem;
$font-heading--200: 2.5rem;
$font-heading--300: 2rem;

//***************************************
//  PADDING, MARGIN
//***************************************
$padding-horizontal--1: 0 1rem;
$padding-horizontal--2: 0 2rem;
$padding-vertical--1: 1rem 0;
$padding-vertical--2: 2rem 0;
$padding-both--1: 1rem;
$padding-both--2: 2rem;
$padding-regular: 1rem 2rem;
$padding-irregular: 2rem 1rem;

$margin-horizontal--1: 0 1rem;
$margin-horizontal--2: 0 2rem;
$margin-vertical--1: 1rem 0;
$margin-vertical--2: 2rem 0;
$margin-both--1: 1rem; 
$margin-both--2: 2rem;
$margin-regular: 1rem 2rem;
$margin-irregular: 2rem 1rem;

//***************************************
//  BORDER
//***************************************
$border--1: 1px solid $color-black--200;
$border--2: 2px solid $color-black--200;
