//***************************************
//  COLORS
//***************************************
$color-white: #ffffff;
$color-black: #000000;

$color-grey: #bfbabf;
$color-orange: #da521d;
$color-brown: #442f24;

$color-white--200: #ecedf1;
$color-black--200: #050908;
$color-black--200-op: #05090895;
$color-grey--200: #686b72;
$color-blue--200: #50a9b0;

//***************************************
//  FONT SIZES
//***************************************
$font-tiny: 1.2rem;
$font-small: 1.4rem;
$font-regular: 1.6rem;
$font-larger: 1.8rem;

$font-heading--100: 2rem;
$font-heading--200: 2.5rem;
$font-heading--300: 3rem;
